/* Options Framework Admin Styles */
#optionsframework-metabox.metabox-holder {
	width: 880px;
	background-color: #f3f3f3;
	border-left: 1px solid #dedfde;
	border-bottom: 1px solid #dedfde;
	border-top: none;
	padding-top: 0;
}

#optionsframework-wrap #theme-title h2 {
	font-style:normal;
	font-size: 24px;
	line-height: 72px;
	padding: 0px 0px 0px 44px;
}

#optionsframework-wrap #icon-themes.icon32 {
	margin: 20px 0px 0px 0px;
}

#optionsframework-wrap #theme-title h2 span {
	color: #666;
	font-size: .65em;
}

#optionsframework-wrap .group h3 {
	font-size: 24px;
	background-image: none;
	background-color: #fff;
	border: none;
	padding: 0;
	margin: 10px 0px 0px 20px;
}

#optionsframework-wrap .nav-tab-wrapper {
	position: absolute;
	float: left;
	margin: 0;
	width: 199px;
	padding: 0;
	border-top: 1px solid #DFDFDF;
	border-right: none !important;
	border-bottom: none !important;
	border-left: 1px solid #DFDFDF;
	background-color: #f4f4f4;
}

#optionsframework-wrap .nav-tab-wrapper a {
	font-size: 14px;
	outline: 0;
	font-weight: normal;
	display: block;
	position: relative;
	text-indent: 10px;
	margin: 0px 0px 0px 0px;
	padding: 4px 0px 4px 0px;
	color: #666;
	background-color: #f4f4f4;
	border-radius: 0;
	border-top: none !important;
	border-right: 0px solid #DFDFDF !important;
	border-bottom: 1px solid #DFDFDF !important;
	border-left: none !important;
	z-index: 9;
}

#optionsframework-wrap .nav-tab-wrapper a.nav-tab-active {
	color: #27769C;
	background-color: #fff;
	border-right: 1px solid #fff !important;
	width: 200px !important;
}

#optionsframework.postbox {
	margin-left: 199px;
	margin-bottom: 0;
	min-height: 400px;
	z-index: 1;
	position: relative;
	border-bottom: none;
	border-radius: 0 0 0 0;
}


#optionsframework-wrap .nav-tab-wrapper .nav-tab {
	width: 100%;
}

.updated {
	max-width:860px;
	margin-bottom:10px !important;
	display: block;
}

#optionsframework {
	position:relative;
	z-index: 0;
	max-width:680px;
	background:#fff;
}
#optionsframework h3 {
	cursor: default;
}
#optionsframework p {
	margin-bottom:0;
	padding-bottom:10px;
	line-height: 1.4em;
}
#optionsframework .section {
	padding:10px 20px 10px 20px;
}
#optionsframework .section-docs {
	padding:0px 20px 0px 20px;
	min-width: 620px;
}

#optionsframework .section-docs h3.heading {
	display: none;
}
#optionsframework .section-docs h3 {
	margin-left: 0;
}


#optionsframework .section-docs code {
	background-color:#f5f5f5;
	display:block;
	padding:8.5px;
	margin:0 0 18px;
	line-height:18px;
	font-size:12px;
	border:1px solid #ccc;
	border:1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	white-space:pre;
	white-space:pre-wrap;
	word-wrap:break-word;
}

#optionsframework .section-docs .explain {
	display: none;
}

#optionsframework .section.linear {
	display: inline-block;
}
#optionsframework .group {
	padding-bottom:40px;
}
#optionsframework .section .heading {
	padding:10px 0px;
	margin:0 0 15px;
	border-bottom: 1px solid #dfdfdf;
}
#optionsframework .section .controls {
	float: left;
	min-width:350px;
	width: 54%;
	padding-right:2%;
}
#optionsframework .section .explain {
	max-width:38%;
	float: left;
	font-size: .9em;
	line-height:1.5em;
	color: #777;
}
#optionsframework .section-checkbox .controls {
	width: 98%;
}
#optionsframework .section-checkbox .explain {
	max-width:94%;
}
#optionsframework .of-input {
	width:auto;
}
#optionsframework .controls select, #optionsframework .controls textarea {
	margin-bottom:10px;
	width:100%;
}
#optionsframework .section-radio label, #optionsframework .section-multicheck label {
	float:left;
	max-width:90%;
	line-height: 16px;
	margin-bottom: 5px;
}
#optionsframework input.checkbox, #optionsframework input.of-radio {
	width: auto;
	margin-top:2px;
	float:left;
	clear:both;
}
#optionsframework .section-typography .controls {
	float:none;
	width:auto;
}
#optionsframework .section-typography .explain {
	float:none;
	width:auto;
}
#optionsframework .controls .of-typography-size {
	width:100px;
	float:left
}
#optionsframework .controls .of-typography-unit {
	width:75px;
	margin-left:5px;
	float:left
}
#optionsframework .controls .of-typography-face {
	width:150px;
	margin-left:5px;
	float:left
}
#optionsframework .controls .of-typography-style {
	width:100px;
	margin-left:5px;
	margin-right:5px;
	float:left
}
#optionsframework .of-background-properties {
	clear:both;
	margin-top: 18px;	
}
#optionsframework .controls .of-background-repeat,
#optionsframework .controls .of-background-position,
#optionsframework .controls .of-background-attachment {
	width:25%;
	margin-right:5px;
	float:left;
}
#optionsframework .section-background .wp-picker-container {
	margin-bottom:10px;
	width: 100%;
}
#optionsframework .controls .of-radio-img-img {
	border:3px solid #f9f9f9;
	margin:0 5px 10px 0;
	display:none;
	cursor:pointer;
	float:left;
}
#optionsframework .controls .of-radio-img-selected {
	border:3px solid #ccc
}
#optionsframework .controls .of-radio-img-img:hover {
	opacity:.8;
}
#optionsframework .controls .of-border-width {
	width:80px;
	float:left
}
#optionsframework .controls .of-border-style {
	width:120px;
	float:left
}
#optionsframework .hide {
	display:none;
}
#optionsframework .of-option-image {
	max-width:340px;
	margin:3px 0 18px 0;
}
#optionsframework .mini .controls select, #optionsframework .section .mini .controls {
	width: 140px;
}
#optionsframework .mini .controls input, #optionsframework .mini .controls {
	min-width:140px;
	width: 140px;
}
#optionsframework .mini .explain {
	max-width:74%;
}

/* Editor */

#optionsframework .section-editor .explain {
	max-width: 98%;
	float:none;
	margin-bottom:5px;
}

/* Image Uploader */

#optionsframework .controls input.upload {
	width:75%;
}
#optionsframework .controls input.upload_button {
	float:right;
	border-color:#BBBBBB;
	cursor:pointer;
}
#optionsframework .controls input.upload_button:hover {
	border-color:#666666;
	color:#000;
}
#optionsframework .screenshot {
	float:left;
	margin-left:1px;
	position:relative;
	width:344px;
	margin-top:3px;
}
#optionsframework .screenshot img {
	background:#FAFAFA;
	border-color:#ccc #eee #eee #ccc;
	border-style:solid;
	border-width:1px;
	float:left;
	max-width:334px;
	padding:4px;
	margin-bottom:10px;
}
#optionsframework .screenshot .remove-image {
	background:url("../images/ico-delete.png") no-repeat;
	border:medium none;
	bottom:4px;
	display:block;
	float:left;
	height:16px;
	padding:0;
	position:absolute;
	left:-4px;
	text-indent:-9999px;
	width:16px;
}
#optionsframework .screenshot .no_image .file_link {
	margin-left: 20px;
}
#optionsframework .screenshot .no_image .remove-button {
	bottom: 0px;
}
#optionsframework .reset-button {
	float:left;
	cursor:pointer;
}

/* Bottom Section */

#optionsframework-submit {
	padding: 7px 10px;
	border-top: 1px solid #ECECEC;
	background-color: #fff;
    background-image: -moz-linear-gradient(center top , #F9F9F9, #ECECEC);
}
#optionsframework .button-primary {
	float:right;
}
#optionsframework .section:after {
	content: "";
	display: table;
}
#optionsframework .section:after {
	clear: both;
}
#optionsframework #section-body_background.section-background .explain,
#optionsframework #section-body_background.section-background .controls,
#optionsframework #section-layout_style.section-images .explain,
#optionsframework #section-layout_style.section-images .controls {
	max-width: 100%;
	width: 100%;
	display: block;
}

#optionsframework #section-layout_style img {
	width: 258px;
	margin: 20px 20px;
}

/* Meta Boxes */

.st_col_l,.st_col_r,.st_col_w,.st_col_lr,
.st_col_L,.st_col_R,.st_col_W,.st_col_B {
	display: block;
	width: 90px;
	height: 80px;
	text-align: center;
	background: url(../../../images/2cl.png) no-repeat center bottom;
	font-size: 11px;
	padding: 0px 0px 0px 0px;
	margin: 0px 10px 0px 0px;
	float: left;
}
.st_col_lr,.st_col_B {background: url(../../../images/2cl.png) no-repeat center bottom;}
.st_col_r,.st_col_R {background: url(../../../images/2cr.png) no-repeat center bottom;}
.st_col_w,.st_col_W {background: url(../../../images/1col.png) no-repeat center bottom;}
td.st_label {
	font-size:12px;padding-bottom:6px;
}
.form-field input#st_layout_box {
border-style:solid;border-width:1px;width:20%;
float:left;
}

#st_cols input {
	float: left;
	width: 20px;
}

#st_cols label {float:left;}

textarea#st_customexcerpt {
	line-height: 140%;
}

.wp-editor-container .quicktags-toolbar input {
	float: left;
	width: auto;
}
